<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="multi-vagas">
<head>
    <base href="/" />
    <title> Multi-Vagas </title>
</head>
<body ng-controller="mainController">

    <div ng-view> </div>

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/multi-vagas")

</body>
</html>
