<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
   
    <add name="LocalConnection" connectionString="Server=localhost\SQLExpress;Database=multivagas_db;User Id=sa;Password=123456;MultipleActiveResultSets=True;" />

  </connectionStrings>
  
</configuration>