<form name="frmFiltroFuncionario" class="form-horizontal style-form" role="form" ng-submit="filtrarFuncionarios(filtroFuncionario)">

    <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Filtro de Funcionários </h4>

        <div class="row mt">
            <div class="col-sm-12 col-md-12">

                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Estacionamento</label>

                    <select name="Estacionamento" class="form-control" ng-model="filtroFuncionario.Estacionamento" ng-options="estacionamento.RazaoSocial for estacionamento in estacionamentos">
                        <option value="" disabled> --- </option>
                    </select>

                </div>

                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Matricula</label>
                    <input type="text" class="form-control" name="Matricula" ng-model="filtroFuncionario.Matricula">
                </div>

                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Nome</label>
                    <input type="text" class="form-control" name="Nome" ng-model="filtroFuncionario.Nome">
                </div>
            </div>
        </div>

        <!--Botoes-->
        <div class="row mt">
            <div class="col-sm-12 col-md-12 form-buttons">
                <button type="submit" class="btn btn-round btn-primary pull-right"><i class="fa fa-filter"></i> Pesquisar </button>
            </div>
        </div>
    </div>

    <!--Lista de estacionamentos-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12  table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Estacionamento</th>
                        <th>Matricula</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Perfil</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="funcionario in funcionarios">
                        <td ui-sref="funcionario_edit({ id: funcionario.Id })" ng-bind="funcionario.Estacionamento"></td>
                        <td ui-sref="funcionario_edit({ id: funcionario.Id })" ng-bind="funcionario.Matricula"></td>
                        <td ui-sref="funcionario_edit({ id: funcionario.Id })" ng-bind="funcionario.Nome"></td>
                        <td ui-sref="funcionario_edit({ id: funcionario.Id })" ng-bind="funcionario.Telefone"></td>
                        <td ui-sref="funcionario_edit({ id: funcionario.Id })" ng-bind="funcionario.Perfil"></td>
                        <td>
                            <a ng-click="excluirFuncionario(funcionario)"> <i class="fa fa-times fa-2x"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" ui-sref="funcionario_add" name="btnAdicionar"><i class="fa fa-plus"></i> Adicionar </button>
        </div>
    </div>

</form>

