<form name="frmRegistrarSaida" class="form-horizontal style-form" ng-submit="salvar(movimentacao)">

    <div class="row mt">
        <div class="col-sm-12 col-md-12">
            <!--Dados de Saida-->
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Dados de Saida </h4>

                <!--Data/Hora-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Data/Hora</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Entrada" ng-model="movimentacao.Entrada" disabled>
                    </div>
                </div>

                <!--Ticket-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Ticket</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Ticket" ng-model="movimentacao.Ticket" disabled>
                    </div>
                </div>

                <!--Placa-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Placa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Placa" ng-model="movimentacao.Placa" disabled>
                    </div>
                </div>

                <!-- Categoria Vaga-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Categoria da vaga</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="CategoriaVaga" ng-model="movimentacao.CategoriaVaga" disabled>
                    </div>
                </div>

                <!--Vaga-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Vaga</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Vaga" ng-model="movimentacao.Vaga" disabled>
                    </div>
                </div>


                <!--Tipo de pagamento-->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Tipo de pagamento</label>
                    <div class="col-sm-10">
                        <select name="TipoPagamento" class="form-control" ng-model="movimentacao.TipoPagamento" ng-options="tipoPagamento.Id as tipoPagamento.Descricao for tipoPagamento in tiposPagamento" >
                            <option value="" disabled> --- </option>
                        </select>

                    </div>
                </div>


                <!--Valor Pago-->
                <div class="form-group" ng-class="{ invalid_field: frmRegistrarSaida.ValorPago.$dirty && frmRegistrarSaida.ValorPago.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Valor Pago</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ValorPago" ng-model="movimentacao.ValorPago" required ui-number-mask>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" name="btnSalvar" ><i class="fa fa-save"></i> Salvar </button>

            <button type="button" class="btn btn-round btn-primary pull-right" ui-sref="movimentacao_list()" name=" btncancelar"><i class="fa fa-arrow-left"></i> Cancelar </button>
        </div>
    </div>
</form>



