
<form name="frmRegistrarEntrada" class="form-horizontal style-form" ng-submit="registrar(entrada)">

    <div class="row mt">
        <div class="col-sm-12 col-md-12">
            <!--Dados de Entrada-->
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Dados de Entrada </h4>
                
                <!--Placa-->
                <div class="form-group" ng-class="{ invalid_field: frmRegistrarEntrada.Placa.$dirty && frmRegistrarEntrada.Placa.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Placa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Placa" ng-model="estacionamento.Placa" required>
                    </div>
                </div>

                <!--Cliente-->
                <div class="form-group" ng-class="{ invalid_field: frmRegistrarEntrada.Cliente.$dirty && frmRegistrarEntrada.Cliente.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Cliente</label>
                    <div class="col-sm-10">

                    </div>
                </div>

                <!--Vaga-->
                <div class="form-group" ng-class="{ invalid_field: frmRegistrarEntrada.Vaga.$dirty && frmRegistrarEntrada.Vaga.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Vaga</label>
                    <div class="col-sm-10">

                    </div>
                </div>

            </div>
        </div>
    </div>        
    
    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" name="btnSalvar"><i class="fa fa-save"></i> Salvar </button>
            
            <button type="button" class="btn btn-round btn-primary pull-right" ng-click="listar()" name="btnCancelar"><i class="fa fa-arrow-left"></i> Cancelar </button>
        </div>
    </div>
</form>