<div id="login-page">
    
    <div class="container">

        <form class="form-login">
            <h2 class="form-login-heading">Registrar usuário</h2>

            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="Nome" name="Nome" autofocus="" ng-model="cliente.Nome" />
                <br />
                <input type="text" class="form-control" placeholder="CPF" name="CPF" autofocus="" ng-model="cliente.CPF" />
                <br />
                <input type="text" class="form-control" placeholder="Telefone" name="Telefone" autofocus="" ng-model="cliente.Telefone" />
                <br />
                <input type="text" class="form-control" placeholder="Email" name="Email" autofocus="" ng-model="cliente.Email" />
                <br />

                <input type="password" class="form-control" placeholder="Senha" name="Senha" ng-model="cliente.Senha" />
                <br />

                <input type="password" class="form-control" placeholder="Confirmação de senha" name="ConfirmacaoSenha" ng-model="cliente.ConfirmacaoSenha" />
                <br />

                <button class="btn btn-theme btn-block" name="btnLogin" ng-click="login(cliente)"><i class=" fa fa-lock"></i> REGISTRAR </button>
            </div>

        </form>
    </div>
       
</div>