<form name="frmfiltroVagas" class="form-horizontal style-form" role="form" ng-submit="filtrarVagas(filtroVagas)">

    <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Filtro de Vagas </h4>
        
        <div class="row mt">
            <div class="col-sm-12 col-md-12">
                
                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Estacionamento</label>
                    
                    <select name="Estacionamento" class="form-control" ng-model="filtroVagas.Estacionamento" ng-options="estacionamento.RazaoSocial for estacionamento in estacionamentos">
                        <option value="" disabled> --- </option>
                    </select>

                </div>

                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Categoria</label>
                    <input type="text" class="form-control" name="Categoria" ng-model="filtroVagas.Descricao">
                </div>
            </div>
        </div>

        <!--Botoes-->
        <div class="row mt">
            <div class="col-sm-12 col-md-12 form-buttons">
                <button type="submit" class="btn btn-round btn-primary pull-right"><i class="fa fa-filter"></i> Pesquisar </button>
            </div>
        </div>
    </div>

    <!--Lista de estacionamentos-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Estacionamento</th>
                        <th>Categoria</th>
                        <th>Vagas</th>
                        <th>Valor (H)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vaga in vagas">

                        <td ui-sref="vagas_edit({ id: vaga.Id })" ng-bind="vaga.Estacionamento"></td>
                        <td ui-sref="vagas_edit({ id: vaga.Id })" ng-bind="vaga.Categoria"></td>
                        <td ui-sref="vagas_edit({ id: vaga.Id })" ng-bind="vaga.Vagas"></td>
                        <td ui-sref="vagas_edit({ id: vaga.Id })" ng-bind="vaga.ValorHora"></td>

                        <td>
                            <a ng-click="excluirVaga(vaga)"> <i class="fa fa-times fa-2x"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" ui-sref="vagas_add" name="btnAdicionar"><i class="fa fa-plus"></i> Adicionar </button>
        </div>
    </div>

</form>

