<form name="formReservaVaga" class="form-horizontal style-form" ng-submit="salvar(reserva)">

    <div class="row mt">
        <div class="col-sm-12 col-md-12">

            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Reserva de Vagas </h4>

                <!-- Data Reserva -->
                <div class="form-group" ng-class="{ invalid_field: formReservaVaga.Data.$dirty && formReservaVaga.Data.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Data Admissão</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="Data" ng-model="reserva.Data" required>
                    </div>
                </div>

                <!-- Categoria Vaga-->
                <div class="form-group" ng-class="{ invalid_field: formReservaVaga.CategoriaVaga.$dirty && formReservaVaga.CategoriaVaga.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Categoria da vaga</label>
                    <div class="col-sm-10">

                        <select name="CategoriaVaga" class="form-control" ng-model="reserva.CategoriaVaga" ng-options="categoriaVaga.Id as categoriaVaga.Descricao for categoriaVaga in categoriasVaga" required>
                            <option value="" disabled> --- </option>
                        </select>

                    </div>
                </div>

            </div>

            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Dados de pagamento </h4>

                <!-- Cartão de credito  -->
                <div class="form-group" ng-class="{ invalid_field: formReservaVaga.NumeroCartao.$dirty && formReservaVaga.NumeroCartao.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Cartão de crédito</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" name="NumeroCartao" ng-model="reserva.CartaoCredito.Numero" required maxlength="16" input-number min-length="16">
                    </div>
                </div>


                <!-- Validade do cartão  -->
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Validade</label>
                    <div class="col-sm-1 col-md-1 col-lg-1" ng-class="{ invalid_field: formReservaVaga.Ano.$dirty && formReservaVaga.Ano.$invalid }">
                        <input type="text" class="form-control" name="Ano" ng-model="reserva.CartaoCredito.Validade.Ano" required maxlength="4" placeholder="Ano" input-number min-length="4">
                    </div>

                    <div class="col-sm-1 col-md-1 col-lg-1" ng-class="{ invalid_field: formReservaVaga.Mes.$dirty && formReservaVaga.Mes.$invalid }">
                        <input type="text" class="form-control" name="Mes" ng-model="reserva.CartaoCredito.Validade.Mes" required maxlength="2" placeholder="Mes" input-number >
                    </div>
                </div>

                <!-- Código de Segurança  -->
                <div class="form-group" ng-class="{ invalid_field: formReservaVaga.CodigoSeguranca.$dirty && formReservaVaga.CodigoSeguranca.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Código de Segurança</label>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <input type="text" class="form-control" name="CodigoSeguranca" ng-model="reserva.CartaoCredito.CodigoSeguranca" required maxlength="3" input-number min-length="3">
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" name="btnSalvar"><i class="fa fa-save"></i> Salvar </button>

            <button type="button" class="btn btn-round btn-primary pull-right" ui-sref="estacionamento_reserva_list()"><i class="fa fa-arrow-left"></i> Cancelar </button>
        </div>
    </div>

</form>