<form name="frmCategoriaVaga" class="form-horizontal style-form" ng-submit="salvar(categoriaVaga)">

    <div class="row mt">
        <div class="col-sm-12 col-md-12">

            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Vagas </h4>

                <div class="form-group" ng-class="{ invalid_field: frmCategoriaVaga.Estacionamento.$dirty && frmCategoriaVaga.Estacionamento.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Estacionamento</label>
                    <div class="col-sm-10">
                        
                        <select name="Estacionamento" class="form-control" ng-model="categoriaVaga.Estacionamento" ng-options="estacionamento.Id as estacionamento.RazaoSocial for estacionamento in estacionamentos">
                            <option value="" disabled> --- </option>
                        </select>
                            
                    </div>
                </div>

                <div class="form-group" ng-class="{ invalid_field: frmCategoriaVaga.Descricao.$dirty && frmCategoriaVaga.Descricao.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Categoria de Vaga</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Descricao" ng-model="categoriaVaga.Descricao" required maxlength="45">
                    </div>
                </div>

                <div class="form-group" ng-class="{ invalid_field: frmCategoriaVaga.Sigla.$dirty && frmCategoriaVaga.Sigla.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Sigla</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Sigla" ng-model="categoriaVaga.Sigla" required ng-readonly="naoPodeAlterar" maxlength="3">
                    </div>
                </div>

                <div class="form-group" ng-class="{ invalid_field: frmCategoriaVaga.Quantidade.$dirty && frmCategoriaVaga.Quantidade.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Quantidade</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Quantidade" ng-model="categoriaVaga.Quantidade" required ng-readonly="naoPodeAlterar">
                    </div>
                </div>

                <div class="form-group" ng-class="{ invalid_field: frmCategoriaVaga.ValorHora.$dirty && frmCategoriaVaga.ValorHora.$invalid }">
                    <label class="col-sm-2 col-md-2 control-label">Valor Hora</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ValorHora" ng-model="categoriaVaga.ValorHora" required ui-number-mask>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="submit" class="btn btn-round btn-primary pull-right" name="btnSalvar"><i class="fa fa-save"></i> Salvar </button>

            <button type="button" class="btn btn-round btn-primary pull-right" ui-sref="vagas_list()"><i class="fa fa-arrow-left"></i> Cancelar </button>
        </div>
    </div>

</form>