<form name="frmFiltroMovimentacao" class="form-horizontal style-form" role="form" ng-submit="filtrar(filtro)">

    <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Filtro de movimentações por categoria </h4>
        <div class="row mt">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-3 col-md-3">
                    <label class="control-label">Estacionamento</label>
                    
                    <select name="Estacionamento" class="form-control" ng-model="filtro.Estacionamento" ng-change="listarCategoriaVaga(filtro.Estacionamento)" ng-options="estacionamento.RazaoSocial for estacionamento in estacionamentos">
                        <option value=""> --- </option>
                    </select>
                </div>

                <div class="col-sm-3 col-md-3">
                    <label class="control-label"> Categoria de vaga </label>
                    <select name="CategoriaVaga" class="form-control" ng-model="movimentacao.CategoriaVaga" ng-options="categoriaVaga.Id as categoriaVaga.Descricao for categoriaVaga in categoriasVaga">
                        <option value="" disabled> --- </option>
                    </select>
                </div>

            </div>
        </div>
       

        <!--Botoes-->
        <div class="row mt">
            <div class="col-sm-12 col-md-12 form-buttons">
                <button type="submit" class="btn btn-round btn-primary pull-right"><i class="fa fa-filter"></i> Pesquisar </button>
            </div>
        </div>
    </div>

    <!--Lista de movimentações-->

    <div class="row mt" id="movimentacoesPorPeriodo">
        <div class="col-sm-12 col-md-12  table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Estacionamento</th>
                        <th>Placa</th>
                        <th>Categoria</th>
                        <th>Pagamento</th>
                        <th>Data</th>
                        <th>Estadia(H)</th>
                        <th>Pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movimentacao in movimentacoes">
                        <td ng-bind="movimentacao.Estacionamento"></td>
                        <td ng-bind="movimentacao.Placa"></td>
                        <td ng-bind="movimentacao.CategoriaVaga"></td>
                        <td ng-bind="movimentacao.TipoPagamento"></td>
                        <td ng-bind="movimentacao.Data"></td>
                        <td ng-bind="movimentacao.HorasReferencia"></td>
                        <td > {{movimentacao.ValorPago | currency:"R$ "}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Botoes-->
    <div class="row mt">
        <div class="col-sm-12 col-md-12 form-buttons">
            <button type="button" class="btn btn-round btn-primary pull-right" ng-click="printDiv('movimentacoesPorPeriodo')"> <i class="fa fa-print"></i> Imprimir </button>
        </div>
    </div>

</form>

