<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="LocalConnection" connectionString="Server=localhost\SQLExpress;Database=multivagas_db;User Id=sa;Password=123456;" />

  <!--<add name="multivagas_db" connectionString="Server=localhost\SQLExpress;Database=multivagas_db;User Id=sa;Password=123456;" />-->
  
</connectionStrings>
